.bg-dark {

    background-color: #2d3338 !important;

}

.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.nav-link {
    color: white !important;
    /* margin: 0.5em;
    font-weight: bold; */

}

/* .form-inline {


    float: left;
} */

/* .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 15px;
    border: 1px solid transparent;
} */


/* .carousel-inner {
    width: 100%;
    max-height: 200px !important;
    
/ */