.navbar-brand {
    margin-left: 50px;
    color: rgb(255, 255, 255) !important;
    font-family: Poppins, sans-serif;
    font-weight: 500;


}


.nav-link {
    color: rgb(255, 255, 255) !important;
    font-family: Poppins, sans-serif;
    font-weight: 500;

}




.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.carousel-caption h1 {
    font-family: Poppins, sans-serif;
    font-weight: 700;


}

.carousel-caption p {
    font-family: Poppins, sans-serif;
    font-weight: 700;

}

.Desire {
    color: #fffb00;
}


.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background: rgba(71, 70, 70, 0.781);
}



.container {

    margin-top: 30px;
}

#h_3 {

    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}

.fas {
    size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px;

}

.card {
    box-shadow: 0px 8px 10px 1px #757575
}



#heading_3 {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #000000;

}

.login {

    margin-top: 10em;


}

.new_user a {
    color: rgb(37, 37, 37);
}

.foter {
    height: 50px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.footer-top {
    background: #111;
    padding: 80px 0;
}

.segment-one h3 {

    color: #fff;
    letter-spacing: 1px;

    margin-left: 20px;
}

.segment-one p {
    color: #999;
    line-height: 25px;
    margin-left: 20px;
}

.segment-two h3 {
    color: #fff;
    text-transform: uppercase;
}

.segment-two h3:before {
    content: '|';
    color: #c65029;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    line-height: 40px;

}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
}

.segment-three h3 {
    color: #fff;
    text-transform: uppercase;

}

.segment-three h3:before {
    content: '|';
    color: #c65029;
    padding-right: 10px;
}

.segment-three a {
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50px;
}

.segment-three fa-facebook {
    background: blue;
}

.segment-three a i {
    font-size: 20px;
    color: rgb(34, 34, 34);
    padding: 10px 12px;
}


.segment-four h3 {
    color: #fff;
    text-transform: uppercase;

}

.segment-four h3:before {
    content: '|';
    color: #c65029;
    padding-right: 10px;
}

.segment-four form input[type=submit] {

    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

.footer-bottom {
    text-align: center;
    background-color: #000;
    line-height: 75px;
    color: white;

}

@media only screen and (min-width:786px)and (max-width:991px) {

    .md-mb-30 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:767px) {

    .sm-mb-30 {
        margin-bottom: 30px;
    }

    .footer-top {
        padding: 50px 0;
    }
}