.bg-dark {

    background-color: white !important;

}

.navbar-brand {
    margin-left: 50px;
    color: rgb(0, 0, 0) !important;
}


.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 30px;
    /* padding-right: 80px; */
    /* margin-left: 30px; */
    /* margin-right: 100px; */



}

/* .carousel-caption {

    text-align: center !important;
    color: rgb(255, 255, 255) !important;
    height: 430px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    position: sticky;


} */
/* .carousel-caption {
    color: rgb(255, 255, 255) !important;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 20px;
    top: 25%;
    height: 400px;

} */

/* .carousel-caption h1 {
    color: rgb(255, 255, 255) !important;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    /* font-size: 20px; */
/* top: 2%; */
/* height: 400px; */

/* }

*/
/* .paragraph {

    text-align: center;
    height: 200px;

} */





.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(71, 70, 70, 0.781);
}

/* #desire {
    color: #4bcc5a;

} */



/* .conatiner {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 30px;

} */



/* .form-control {
    padding-right: 100px;
}


.btn {
    margin-right: 100px;
}

.navbar a {

    padding: 25px;
}

.btn {
    padding: 5px;
    margin-left: 25px;
} */

/* .form-control {

    margin-left: 10px;
} */



/* .item img {
    width: 100%
} */


/* .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin: auto;
    width: 100%; // Add this


}

.conatiner {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
} */

/* .carousel {
    width: 640px;
    height: 360px;
} */
/* {

 margin: 0.5em;
    font-weight: bold; 

} */

/* .form-inline {


    float: left;
} */

/* .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 15px;
    border: 1px solid transparent;
} */


/* .carousel-inner {
    width: 100%;
    max-height: 200px !important;
    
/ */

.Searchbar {
    position: absolute;
    z-index: 1;
    top: 100px;
    margin-top: 400px;
    margin-left: 200px;
    position: absolute;


    /* width: 100px; */
}

.container {

    margin-top: 30px;
}

#h_3 {

    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}

.fas {
    size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px;

}